:root {
    --white-color: #ffffff;
    --line-color: #e6e6e6;
    --black-color: #444444;
}

.blind {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
}

.inner {
    max-width: 1170px;
    margin: 0 auto;
}

.tit {
    max-width: 1170px;
    margin: 0 auto;
}

.default {
    padding: 100px 0;
}

.default .tit {
    max-width: 1170px;
    margin: 0 auto 40px auto;
}

.default .tit h2 {
    margin: 0 0 16px 0;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.default .tit p {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

@media(max-width:768px) {
    .default {
        padding: 80px 16px;
    }
}