* {
    /* outline: 1px solid tomato; */
}

.header {
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.1);
    transition: 0.3s;
}

.header .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .inner .logo {
    min-width: 300px;
    height: 80px;
}

.header .inner .gnb {}

.header .inner .gnb>ul {
    display: flex;
    gap: 40px;
}

.header .inner .gnb>ul>li {
    position: relative;

}

.header .inner .gnb>ul>li>a {
    display: block;
    white-space: nowrap;
    line-height: 100px;
    color: var(--white-color);
}

.header .inner .gnb .sub {
    position: absolute;
    top: 101px;
    left: 50%;
    transform: translate(-50%, 0);
    width: 600px;
    display: grid;
    grid-template-columns: 300px 1fr;
    background: var(--white-color);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
}

.header .inner .gnb>ul>li:hover .sub {
    box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.3);
    opacity: 1;
    visibility: visible;
    transition: 0.5s;
}

.header .inner .gnb .sub .sub_right {
    padding: 24px;
}

.header .inner .gnb .sub .sub_right .sub_con>li>a {
    display: block;
    line-height: 40px;
    font-size: 14px;
    color: var(--black-color);
    border-bottom: 1px solid #ddd;
}

.header .inner .gnb .sub .sub_left {
    order: -1;
}

.header .inner .gnb .sub .sub_left .img_box img {
    object-fit: cover;
    height: 377px;
}

.header .inner .util {
    display: flex;
    gap: 20px;
    justify-content: end;
    width: 300px;
}

.header .inner .util>a {
    white-space: nowrap;
    font-size: 14px;
    color: var(--white-color)
}

.header .mbtn {
    display: none;
}

.header:hover {
    border-bottom: 1px solid #ddd;
    background: var(--white-color);
}

.header:hover .logo a {
    opacity: 0;
}

.header:hover h1 {
    opacity: 1;
    width: 300px;
    height: 80px;
    background: url(../images/logo_black.png);
}

.header:hover .gnb>ul>li>a {
    color: var(--black-color);
}

.header:hover .util>a {
    color: var(--black-color);
}

.header.on {
    border-bottom: 1px solid #ddd;
    background: var(--white-color);
    transition: 0.3s;
}

.header.on h1 {
    width: 300px;
    height: 80px;
    background: url(../images/logo_black.png)
}

.header.on h1 a {
    opacity: 0;
}

.header.on .gnb>ul>li>a {
    color: var(--black-color);
}

.header.on .util>a {
    color: var(--black-color);
}

@media(max-width:768px) {
    .header {
        position: sticky;
        border-bottom: var(--white-color);
        background: var(--white-color);
    }

    .header:hover {
        border-bottom: var(--white-color);
    }

    .header .inner {
        position: sticky;
        top: 0;
        width: 100%;
        height: 80px;
        background: var(--white-color);
    }

    .header .inner h1 {
        z-index: 999;
        position: absolute;
        left: 16px;
        width: 300px;
        height: 80px;
        background: url(../images/logo_black.png)no-repeat;
    }

    .header .inner h1 a {
        opacity: 0;
    }

    .header .inner .gnb {
        position: fixed;
        top: 0;
        left: -100%;
        width: calc(100% - 90px);
        height: 100vh;

        padding: 120px 32px;
        border-right: 1px solid #ddd;
        background: var(--white-color);
        transition: 0.5s;
    }

    .header .inner .gnb>ul {
        flex-direction: column;
        height: 0;
        gap: 0;
    }

    .header .inner .gnb>ul>li>a {
        line-height: 48px;
        border-bottom: 1px solid #ddd;
        color: var(--black-color);
    }

    .header .inner .gnb>ul>li:hover .sub {
        display: none;
    }

    .header .inner .gnb.on {
        left: 0%;
    }

    .header .inner .util {
        display: none;
    }

    .header .mbtn {
        display: block;
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translate(0, -50%);
    }

    .header .mbtn {
        font-size: 24px;
        color: var(--black-color);
    }
}






.main_visual {
    position: relative;
}

.main_visual .slg {
    z-index: 2;
    position: absolute;
    top: 264px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1170px;
    width: 100%;
}

.main_visual .slg p {
    display: block;
    margin: 0 0 8px 0;
    font-size: 24px;
    font-weight: 400;
    color: var(--white-color);
}

.main_visual .slg strong {
    font-size: 48px;
    font-weight: 800;
    color: var(--white-color);
}

.main_visual .main_visual_box {
    font-size: 0;
    height: 100vh;
    background: url(../images/main_visual01.jpg)no-repeat center center/cover;
}

.main_visual .scroll {
    position: absolute;
    bottom: 72px;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 1170px;
    width: 100%;
    text-align: end;
    color: var(--white-color);
}

.main_visual .scroll span {
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
}

.main_visual .scroll span::before {
    content: "\e943";
    font-family: "xeicon";
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 32px;
    animation: scrollbefore 2s infinite;
}

@keyframes scrollbefore {
    0% {
        bottom: 10px;
    }

    50% {
        bottom: 20px;
    }

    100% {
        bottom: 10px;
    }
}

@media(max-width :768px) {
    .main_visual .slg {
        top: 30%;
    }

    .main_visual .slg p {
        text-indent: 16px;
        font-size: 16px;
    }

    .main_visual .slg strong {
        display: inline-block;
        text-indent: 16px;
        font-size: 24px;
    }

    .main_visual .main_visual_box {
        height: 70vh;
    }

    .main_visual .scroll {
        display: none;
    }
}










.main_content {
    position: relative;
    padding: 100px 0;
}

.main_content .inner {
    display: flex;
    gap: 60px;
}

.main_content .inner .left {
    flex: 0 2 540px;
    min-width: 0;
}

.main_content .inner .content_left_slide .itm {
    max-width: 540px;
}

.main_content .inner .content_left_slide .itm figure {
    height: 600px;
}

.main_content .inner .content_left_slide .itm figure img {
    height: 600px;
    object-fit: cover;
}

.main_content .inner .right {
    position: relative;
    display: flex;
    gap: 30px;
    flex-direction: column;
    flex: 1;
    overflow: hidden;
}

.main_content .inner .right .content_right {
    padding: 20px 0 0 0;
    height: 100%;
    max-height: 284px;
}

.main_content .inner .right .tit {
    position: relative;
    margin: 0;
}

.main_content .inner .right .tit h2 {
    margin: 0 0 16px 0;
    text-indent: -1px;
    font-size: 40px;
    font-weight: 800;
}

.main_content .inner .right .tit p {
    margin: 0 0 74px 0;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
}

.main_content .inner .right .tit .ord {
    position: absolute;
    left: 0;
    text-transform: uppercase;
}

.main_content .inner .right .tit .ord a {
    display: block;
    padding: 12px 48px;
    text-align: center;
    border: 1px solid var(--black-color);
}


.main_content .inner .right .arrows {
    display: flex;
    justify-content: end;
    gap: 8px;
}

.main_content .inner .right .arrows button {
    width: 42px;
    height: 42px;
    border: 1px solid var(--black-color);
    transition: 0.5s;
}

.main_content .inner .right .arrows button i {
    color: var(--black-color);
    transition: 0.5s;
}

.main_content .inner .content_right_slide {
    margin: auto -30px 0 0;
}

.main_content .inner .content_right_slide .itm {
    max-width: 170px;
    max-height: 285px;
    margin: 0 30px 0 0;
}

@media(max-width:768px) {
    .main_content {
        padding: 80px 16px;
    }

    .main_content .inner {
        display: block;
    }

    .main_content .inner .left {
        display: none;
    }

    .main_content .inner .right .content_right {
        padding: 0;
    }

    .main_content .inner .content_right_slide {
        margin: auto -30px 0 0;
    }

    .main_content .inner .content_right_slide .itm {
        max-width: 500px;
        max-height: 500px;
        margin: 0 30px 0 0;
    }
}










.main_banner {
    background: #f9f9f9;
}

.main_banner .inner {
    position: relative;
}

.main_banner .inner .itm figure {
    position: relative;
    height: 600px;
}

.main_banner .inner .itm figure::before {
    content: '';
    position: absolute;
    inset: 0 0 0 0;
    background: linear-gradient(transparent, transparent, #000);
}

.main_banner .inner .itm .slg {
    z-index: 99;
    position: absolute;
    bottom: 40px;
    left: 40px;
}

.main_banner .inner .itm .slg strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 24px;
    font-weight: 700;
    color: var(--white-color);
}

.main_banner .inner .itm .slg p {
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: var(--white-color);
}

.main_banner .slick-dots {
    z-index: 99;
    position: absolute;
    bottom: -32px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    align-items: center;
}

.main_banner .slick-dots button {
    padding: 9px;
    margin: 0 4px;
    font-size: 0;
    border-radius: 50%;
    border: 1px solid #999;
    background: transparent;
}

.main_banner .slick-dots .slick-active button {
    background: #999;
}

@media(max-width:768px) {
    .main_banner .inner .itm figure {
        max-height: 500px;
        object-fit: cover;
    }

    .main_banner .inner .itm figure img {
        height: 500px;
        object-fit: cover;
    }

    .main_banner .inner .itm .slg {
        z-index: 99;
        position: absolute;
        bottom: 16px;
        left: 0;
        padding: 0 16px;
        text-align: center;
    }

    .main_banner .inner .itm .slg p {}

    .main_banner .inner .itm figure::before {
        content: '';
        position: absolute;
        inset: 0 0 0 0;
        background: rgba(0, 0, 0, 0.6);
    }

}














.main_news {}

.main_news .inner {
    overflow: hidden;
}

.main_news .inner .news_slide {
    margin: 0 -15px;
}

.main_news .inner .itm {
    margin: 0 15px;
    border: 1px solid var(--line-color);
}


.main_news .inner .desc {
    padding: 24px 0;
}

.main_news .inner .desc strong {
    display: block;
    margin: 0 0 16px 0;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

.main_news .inner .desc p {
    display: block;
    margin: 0 0;
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

@media(max-width:768px) {
    .main_news .inner {
        overflow: visible;
    }

    .main_news .inner .desc {
        padding: 24px 16px;
    }

    .main_news .inner .itm figure img {
        max-width: 768px;
        width: 100%;
        object-fit: cover;
    }

    .main_news .slick-dots {
        z-index: 99;
        position: absolute;
        bottom: -32px;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
    }

    .main_news .slick-dots button {
        padding: 9px;
        margin: 0 4px;
        font-size: 0;
        border-radius: 50%;
        border: 1px solid #999;
        background: transparent;
    }

    .main_news .slick-dots .slick-active button {
        background: #999;
    }
}

















.footer {
    background: #444;
}

.footer .inner .ft {
    padding: 40px 0;
    border-bottom: 1px solid #555;
}

.footer .inner .ft .customer {
    display: flex;
    gap: 30px;
}

.footer .inner .ft .customer>li {
    position: relative;
    font-size: 16px;
    color: #999;
}

.footer .inner .ft .customer>li~li::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -16px;
    transform: translate(0, -50%);
    width: 1px;
    height: 8px;
    background: #999;
}

.footer .inner .ft .customer>.b {
    color: #ddd;
    font-weight: 800;
    font-size: 16px;
}

.footer .inner .fb {
    padding: 40px 0;
}

.footer .inner .fb>ul>li {
    line-height: 24px;
    font-size: 14px;
    color: #999;
}

@media(max-width:768px) {
    footer {
        padding: 0 16px;
    }

    .footer .inner .ft .customer {
        flex-direction: column;
        gap: 20px;
    }

    .footer .inner .ft .customer>li~li::before {
        content: '';
        display: none;
    }
}










.to_top {
    position: fixed;
    z-index: 999;
    bottom: 180px;
    right: 180px;
    opacity: 0;
    transition: 0.5s;
}

.to_top.on {
    opacity: 1;
    transition: 0.5s;
}

.to_top button {
    width: 42px;
    height: 42px;
    background: #555;
}

.to_top button i {
    color: #fff;
    transform: rotate(-90deg);
}

@media(max-width:768px) {
    .to_top {
        bottom: 40px;
        right: 16px;
    }
}